

/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Heading styles */
h1, h2 {
    margin-bottom: 15px;
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}
.action-button-container {
    text-align: right;
    background-color: red;
}
a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
  }
  
  a:hover {
    background-color: #007bff;
    color: #fff;
  }
  
/* Responsive styles */
@media (max-width: 600px) {
    input[type="text"],
    input[type="number"] {
        width: calc(100% - 20px);
    }
}
